*{
    padding: 5px;
    margin: 10px;
}
.name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
}
.addr{
    block-size: auto;
    display: block;
}
.phno{
    font-style: italic;
}
.email{
    color: blue;
    text-decoration: underline;
}
